{% extends "character/base.html" %}

{% block title %}Abilities - {{ character.name }}{% endblock %}

{% block content %}
    <label>Available AP: {{ character.available_ap }}</label>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
            <tr id="title">
                <th>Unlock</th>
                <th>Name</th>
                <th>Prereqs</th>
                <th title="Magic Points">MP</th>
                <th>Effect</th>
                <th>Attacks</th>
                <th title="Magic Accuracy">MAC</th>
                <th title="Physical Damage">PDAM</th>
                <th title="Magic Damage">MDAM</th>
                <th>DAM Type</th>
                <th title="Magic Defense Used?">MDEF?</th>
                <th>Time</th>
                <th>Min Range</th>
                <th>Max Range</th>
                <th>Shape</th>
                <th>Target Area</th>
                <th>Duration</th>
                <th>Duration Unit</th>
            </tr>
            </thead>
            {% for ability in character.cls.abilities %}
                <tr>
                    <td>
                        <button type="submit" name="lock" class="btn btn-primary"
                                {% if ability in character.unlocked_abilities %}
                                value="lock {{ forloop.counter0 }}"
                                style="background: #00ff00;">
                                        Unlocked
                                        {% elif ability in character.available_to_unlock_abilities %}
                                        value="unlock {{ forloop.counter0 }}"
                                        style="background: #00ffff;">
                                        Available
                                        {% else %}
                                        value="unlock {{ forloop.counter0 }}"
                                        style="background: #000000;"
                                        disabled>
                                        Locked
                                    </button>
                                {% endif %}
                    </td>
                    <td>
                        <img src="{{ ability.picture.value }}"
                             style="width: 40px;height: 40px">
                        {{ ability.name }}
                    </td>
                    <td>
                        {% for prerequisite in ability.prerequisites %}
                            {{ prerequisite.name }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>{{ ability.mp_cost }}</td>
                    <td>{{ ability.effect }}</td>
                    <td>{{ ability.attacks }}</td>
                    <td>
                        {% if ability.targets_mdef %}
                            {{ character.bmac|add:ability.mac }}
                        {% endif %}
                    </td>
                    <td>{{ ability.pdam|default:"" }}</td>
                    <td>{{ ability.mdam|default:"" }}</td>
                    <td>{{ ability.damage_type.name|capfirst }}</td>
                    <td> {% if ability.targets_mdef %} ✔ {% endif %} </td>
                    <td> {{ ability.time.name|capfirst }}</td>
                    <td>{{ ability.min_range }}</td>
                    <td>{{ ability.max_range }}</td>
                    <td>
                        {{ ability.shape.name|capfirst }}
                        <img src="{{ ability.shape.value }}">
                    </td>
                    <td>{{ ability.target_area }}</td>
                    <td>{{ ability.duration }}</td>
                    <td>{{ ability.duration_unit.name|capfirst }}</td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}