{% extends "character/base.html" %}

{% block title %}Inventory - {{ character.name }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>Inventory</label>
        <br/>
        <table>
            <thead>
            <tr id="title">
                <th>Item</th>
                <th>Slot</th>
                <th>Quantity</th>
                <th>Min ATT</th>
                <th>Stat Summary</th>
                <th>Effect</th>
                <th>SEL Value ({{ character.sel }}%)</th>
            </tr>
            </thead>
            {% for inventory_slot in character.inventoryslot_set.all %}
                <tr>
                    <td
                            {% if inventory_slot.item.rarity == Rarity.rare %}
                                class="type_rare"
                            {% elif inventory_slot.item.rarity == Rarity.unique %}
                                class="type_unique"
                            {% elif inventory_slot.item.rarity == Rarity.set %}
                                class="type_set"
                            {% endif %}
                    ><b>{{ inventory_slot.item.name|capfirst }}</b></td>
                    <td>{{ inventory_slot.slot.name|capfirst }}</td>
                    <td>{{ inventory_slot.quantity }}</td>
                    <td>{{ inventory_slot.item.min_attribute_value }}
                        {{ inventory_slot.item.min_attribute.name|upper }}</td>
                    <td>{{ inventory_slot.item.stat_summary }}</td>
                    <td>{{ inventory_slot.item.effect }}</td>
                    <td>{{ inventory_slot.sel_value }}</td>
                    <td>
                        <button type="submit" name="delete" class="btn btn-primary"
                                value="delete {{ inventory_slot.id }}"
                                style="background: #DE2A00;">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a class="btn btn-primary" href="{% url 'sheet-views-inventory-add' character.id %}">
            Add Item
        </a>
    </form>
{% endblock %}