{% extends "character/base.html" %}

{% block title %}Level Up - {{ character.name }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>Previous Levels</label>
        <br/>
        <label><i>Note: For LVL 1, use maximum rolls for HD, MD, and SD.</i></label>
        <table>
            <thead>
            <tr id="title">
                <th>LVL</th>
                <th>HD Roll [d{{ character.cls.hd }}]</th>
                <th>MD Roll [d{{ character.cls.md }}]</th>
                <th>SD Roll [d{{ character.cls.sd }}]</th>
                <th>AD Roll [d6]</th>
                <th>Selected Attribute</th>
            </tr>
            </thead>
            {% for level_up in character.levelup_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ level_up.hd_roll }}</td>
                    <td>{{ level_up.md_roll }}</td>
                    <td>{{ level_up.sd_roll }}</td>
                    <td>{{ level_up.ad_roll.name|upper }} ({{ level_up.ad_roll.value }})</td>
                    <td>{{ level_up.selected_attribute.name|upper }}</td>
                    <td>
                        <button type="submit" name="delete" class="btn btn-primary"
                                value="delete {{ level_up.id }}" style="background: #DE2A00;">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
    <br>
    <label>New Level</label>
    <br/>
    {% include "bootstrap_form_snippet.html" with form=level_up_form button_name="Level Up"%}
{% endblock %}