{% extends "character/base.html" %}

{% block title %}Party - {{ character.name }}{% endblock %}

{% block content %}
    <table style="display: inline-block">
        <label>Party:
            <a href="{{ character.party.roll20_url }}">
                {{ character.party }}
            </a>
        </label>

        <br/>

        <thead>
        <tr id="title">
            <th>Player</th>
            <th>Name</th>
        </tr>
        </thead>
        {% for party_character in character.party.character_set.all %}
            <tr>
                <td>{{ party_character.user }}</td>
                <td>
                    <a href="{% url 'sheet-views-stats' party_character.id %}">
                        {{ party_character }}
                    </a>
                </td>
            </tr>
        {% endfor %}

        <thead>
        <tr id="title">
            <th>Shops</th>
            <th>Visibility</th>
        </tr>
        </thead>
        {% for shop in character.party.shop_set.all %}
            {% if shop.visible or user.is_superuser %}
                <tr>
                    <td>
                        <a href="{% url 'sheet-views-shops' character.id shop.id %}">
                            {{ shop.name }}
                        </a>
                    </td>
                    <td>
                        {% if shop.visible %}
                            Visible
                        {% else %}
                            Invisible
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}