{% extends "character/base.html" %}

{% block title %}Roll20 - {{ character.name }}{% endblock %}

{% block content %}
    <label><i>Note: Due to a bug in Roll20, you must refresh your Roll20 browser page
        after syncing to remove duplicate Abilities from showing in the page.</i></label>
    <br/>
    <p>
        <label>Roll20 Email: {{ user.email }}</label>
    </p>
    <p>
        <label>Campaign ID: {{ character.party.roll20_campaign_id }}</label>
    </p>
    <p>
        <label>Character Name: {{ character.name }}</label>
    </p>
    {% include "snippets/bootstrap_form.html" with form=roll20_form button_name="Sync to Roll20" %}
{% endblock %}
