{% extends "character/base.html" %}

{% block title %}{{ shop.name }} Shop - {{ character.name }}{% endblock %}

{% block content %}
    <label>Shop: {{ shop.name }}</label>
    <br/>

    {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'sheet-views-shops-add' character.id shop.id %}">
            Add Item
        </a>
    {% endif %}

    {% include "snippets/shop_equipment.html" with shop=shop items=shop.items %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.utilities %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.weapons %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.heads %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.necks %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.chests %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.shields %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.hands %}
    <br/>
    {% include "snippets/shop_equipment.html" with shop=shop items=shop.feets %}
    <br/>
{% endblock %}