{% extends "character/base.html" %}

{% block title %}Stats - {{ character.name }}{% endblock %}

{% block content %}
    <table style="display: inline-block">
        <thead>
        <tr id="title">
            <th>Stat</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td>Player</td>
            <td>{{ character.user }}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ character.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ character.name }}</td>
        </tr>
        <tr>
            <td>Party</td>
            <td>
                <a href="{{ character.party.roll20_url }}">
                    {{ character.party }}
                </a>
            </td>
        </tr>
        <tr>
            <td title="Level">LVL</td>
            <td>{{ character.lvl }}</td>
        </tr>
        <tr>
            <td>Class</td>
            <td>{{ character.cls.name }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
        <tr id="title">
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td title="Strength">STR</td>
            <td>{{ character.stren }}</td>
        </tr>
        <tr>
            <td title="Dexterity">DEX</td>
            <td>{{ character.dex }}</td>
        </tr>
        <tr>
            <td title="Constitution">CON</td>
            <td>{{ character.con }}</td>
        </tr>
        <tr>
            <td title="Intelligence">INT</td>
            <td>{{ character.intel }}</td>
        </tr>
        <tr>
            <td title="Wisdom">WIS</td>
            <td>{{ character.wis }}</td>
        </tr>
        <tr>
            <td title="Charisma">CHA</td>
            <td>{{ character.cha }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
        <tr id="title">
            <th>Skill</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td title="Athletics">ATH</td>
            <td title="{{ character.ath_formula }}">{{ character.ath }}</td>
        </tr>
        <tr>
            <td title="Stealth">STE</td>
            <td title="{{ character.ste_formula }}">{{ character.ste }}</td>
        </tr>
        <tr>
            <td title="Fortitude">FOR</td>
            <td title="{{ character.for_formula }}">{{ character.fort }}</td>
        </tr>
        <tr>
            <td title="Aptitude">APT</td>
            <td title="{{ character.apt_formula }}">{{ character.apt }}</td>
        </tr>
        <tr>
            <td title="Perception">PER</td>
            <td title="{{ character.per_formula }}">{{ character.per }}</td>
        </tr>
        <tr>
            <td title="Speech">SPE</td>
            <td title="{{ character.spe_formula }}">{{ character.spe }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
        <tr id="title">
            <th>Stat</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td title="Ability Points">AP</td>
            <td title="{{ character.ap_formula }}">{{ character.ap }}</td>
        </tr>
        <tr>
            <td title="Hit Points">HP</td>
            <td title="{{ character.hp_formula }}">{{ character.hp }}</td>
        </tr>
        <tr>
            <td title="Magic Points">MP</td>
            <td title="{{ character.mp_formula }}">{{ character.mp }}</td>
        </tr>
        <tr>
            <td title="Skill Points">SP</td>
            <td title="{{ character.sp_formula }}">{{ character.sp }}</td>
        </tr>
        <tr>
            <td title="Physical Defense">PDEF</td>
            <td title="{{ character.pdef_formula }}">{{ character.pdef }}</td>
        </tr>
        <tr>
            <td title="Magic Defense">MDEF</td>
            <td title="{{ character.mdef_formula }}">{{ character.mdef }}</td>
        </tr>
        <tr>
            <td title="Physical Reduction">PRED</td>
            <td title="{{ character.pred_formula }}">{{ character.pred }}</td>
        </tr>
        <tr>
            <td title="Magic Reduction">MRED</td>
            <td title="{{ character.mred_formula }}">{{ character.mred }}</td>
        </tr>
        <tr>
            <td title="Magic Regeneration">REG</td>
            <td title="{{ character.reg_formula }}">{{ character.reg }}</td>
        </tr>
        <tr>
            <td title="Regeneration Dice">RD</td>
            <td title="{{ character.rd_formula }}">{{ character.rd }}</td>
        </tr>
        <tr>
            <td title="Maximum Speed">SPEED</td>
            <td title="{{ character.speed_formula }}">{{ character.speed }}</td>
        </tr>
        <tr>
            <td title="Vision">VIS</td>
            <td title="{{ character.vis_formula }}">{{ character.vis }}</td>
        </tr>
        <tr>
            <td title="Base Physical Accuracy">BPAC</td>
            <td title="{{ character.bpac_formula }}">{{ character.bpac }}</td>
        </tr>
        <tr>
            <td title="Base Magical Accuracy">BMAC</td>
            <td title="{{ character.bmac_formula }}">{{ character.bmac }}</td>
        </tr>
        <tr>
            <td title="Buying Discount">BUY</td>
            <td title="{{ character.buy_formula }}">{{ character.buy }}%</td>
        </tr>
        <tr>
            <td title="Selling Value">SEL</td>
            <td title="{{ character.sel_formula }}">{{ character.sel }}%</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
        <tr id="title">
            <th>VUL Type</th>
            <th>Damage Types</th>
        </tr>
        </thead>
        <tr>
            <td title="Vulnerability">VUL</td>
            <td>{{ character.vul_set.vul.all_as_str|default:"" }}</td>
        </tr>
        <tr>
            <td title="Resistance">RES</td>
            <td>{{ character.vul_set.res.all_as_str|default:"" }}</td>
        </tr>
        <tr>
            <td title="Immunity">IMU</td>
            <td>{{ character.vul_set.imu.all_as_str|default:"" }}</td>
        </tr>
    </table>
    <label>
        <i>For acronym meaning, hover over the name.
            For formulas on how skills or stats are calculated, hover over the value.
        </i>
    </label>
    <table>
        <thead>
        <tr id="title">
            <th>Weapon</th>
            <th>Rarity</th>
            <th>Style</th>
            <th>Type</th>
            <th>Min {{ character.weapon.min_attribute.name }}</th>
            <th>2-Hand</th>
            <th>Range</th>
            <th>Shape</th>
            <th>Attacks</th>
            <th title="Physical Accuracy">PAC</th>
            <th title="Physical Damage">PDAM (DPS)</th>
            <th title="Magic Damage">MDAM (DPS)</th>
            <th>Damage Type</th>
            <th title="Critical Range">CRAN</th>
            <th title="Critical Damage">CDAM</th>
            <th>Effect</th>
        </tr>
        </thead>
        <tr>
            <td
                    {% if character.weapon.rarity == Rarity.rare %}
                        class="type_rare"
                    {% elif character.weapon.rarity == Rarity.unique %}
                        class="type_unique"
                    {% elif character.weapon.rarity == Rarity.set %}
                        class="type_set"
                    {% endif %}
            >
                <b>{{ character.weapon.name|capfirst }}</b>
                <img src="{{ character.weapon.picture.value }}"
                     style="width: 40px;height: 40px">
            </td>
            <td>{{ character.weapon.rarity.name|capfirst }}</td>
            <td>{{ character.weapon.style.name|capfirst }}</td>
            <td>{{ character.weapon.type.name|capfirst }}</td>
            <td>{{ character.weapon.min_attribute_value }}</td>
            <td> {% if character.weapon.is_two_handed %} ✔ {% endif %} </td>
            <td>{{ character.weapon.min_range }} - {{ character.weapon.max_range }}</td>
            <td>
                {{ character.weapon.shape.name|capfirst }}
                <img src="{{ character.weapon.shape.value }}">
            </td>
            <td>{{ character.weapon.attacks }}</td>
            <td>{{ character.bpac|add:character.weapon.pac }} (+{{ character.weapon.pac }})</td>
            <td>{{ character.weapon_pdam }} ({{ character.weapon_pdam_dps }})</td>
            <td>{{ character.weapon_mdam }} ({{ character.weapon_mdam_dps }})</td>
            <td>{{ character.weapon.damage_type.name|capfirst }}</td>
            <td>{{ character.cran|add:character.weapon.cran }} (+{{ character.weapon.cran }})</td>
            <td>{{ character.weapon.cdam }}</td>
            <td>{{ character.weapon.effect }}</td>
        </tr>
    </table>
    <table>
        <thead>
        <tr id="title">
            <th>Slot</th>
            <th>Equipment</th>
            <th>Rarity</th>
            <th>Type</th>
            <th>Min ATT</th>
            <th>Stat Summary</th>
            <th>VUL</th>
            <th>RES</th>
            <th>IMU</th>
            <th>Effect</th>
            <th>SEL Value ({{ character.sel }}%)</th>
        </tr>
        </thead>
        {% for wearable in character.wearables %}
            <tr>
                <td>{{ wearable.slot.name|capfirst }}</td>
                <td
                        {% if wearable.rarity == Rarity.rare %}
                            class="type_rare"
                        {% elif wearable.rarity == Rarity.unique %}
                            class="type_unique"
                        {% elif wearable.rarity == Rarity.set %}
                            class="type_set"
                        {% endif %}
                >
                    <b>{{ wearable.name|capfirst }}</b>
                    {% if wearable.is_two_handed %}
                        <br>(2-Hand)
                    {% endif %}
                </td>
                <td>{{ wearable.rarity.name|capfirst }}</td>
                <td>{{ wearable.type.name|capfirst }}</td>
                <td>{{ wearable.min_attribute_value }}{{ wearable.min_attribute.name|upper }}</td>
                <td>{{ wearable.stat_summary }}</td>
                <td>{{ wearable.vul_set.vul.all_as_str|default:"" }}</td>
                <td>{{ wearable.vul_set.res.all_as_str|default:"" }}</td>
                <td>{{ wearable.vul_set.imu.all_as_str|default:"" }}</td>
                <td>{{ wearable.effect }}</td>
                {# a*b use {% widthratio a 1 b %} #}
                <td>{% widthratio character.sel_fraction 1 wearable.price %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}