{% extends "browser/base.html" %}

{% block title %}Abilities - {{ cls.name }}{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr id="title">
            <th>Name</th>
            <th>Prereqs</th>
            <th>MP</th>
            <th>Effect</th>
            <th>Attacks</th>
            <th>MAC</th>
            <th>PDAM</th>
            <th>MDAM</th>
            <th>DAM Type</th>
            <th>MDEF?</th>
            <th>Time</th>
            <th>Min Range</th>
            <th>Max Range</th>
            <th>Shape</th>
            <th>Target Area</th>
            <th>Duration</th>
            <th>Duration Unit</th>
        </tr>
        </thead>
        {% for ability in cls.abilities %}
            <tr>
                <td>
                    <img src="{{ ability.picture.value }}"
                         style="width: 40px;height: 40px">
                    {{ ability.name }}
                </td>
                <td>
                    {% for prerequisite in ability.prerequisites %}
                        {{ prerequisite.name }}
                        <br>
                    {% endfor %}
                </td>
                <td>{{ ability.mp_cost }}</td>
                <td>{{ ability.effect }}</td>
                <td>{{ ability.attacks }}</td>
                <td>
                    {% if ability.targets_mdef %}
                        +{{ ability.mac }}
                    {% endif %}
                </td>
                <td>{{ ability.pdam|default:"" }}</td>
                <td>{{ ability.mdam|default:"" }}</td>
                <td>{{ ability.damage_type.name|capfirst }}</td>
                <td> {% if ability.targets_mdef %} ✔ {% endif %} </td>
                <td>{{ ability.time.name|capfirst }}</td>
                <td>{{ ability.min_range }}</td>
                <td>{{ ability.max_range }}</td>
                <td>
                    {{ ability.shape.name|capfirst }}
                    <img src="{{ ability.shape.value }}">
                </td>
                <td>{{ ability.target_area }}</td>
                <td>{{ ability.duration }}</td>
                <td>{{ ability.duration_unit.name|capfirst }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}