{% extends "browser/base.html" %}

{% block title %}{{ items.0.slot.name|capfirst }}s{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr id="title">
            <th>Equipment</th>
            <th>Price</th>
            <th>Rarity</th>
            <th>Effect</th>
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td
                        {% if item.rarity == Rarity.rare %}
                            class="type_rare"
                        {% elif item.rarity == Rarity.unique %}
                            class="type_unique"
                        {% elif item.rarity == Rarity.set %}
                            class="type_set"
                        {% endif %}
                >
                    {{ item.name|capfirst }}
                    {% if item.is_two_handed %}
                        <br>(2-Hand)
                    {% endif %}
                </td>
                <td>{{ item.price }}</td>
                <td>{{ item.rarity.name|capfirst }}</td>
                <td>{{ item.effect }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}