{% if shop_slots %}
    <table>
        <thead>
        <tr id="title">
            <th>{{ shop_slots.0.item.slot.name|title }}</th>
            <th>Qnt</th>
            {% for character in shop.party.character_set.all %}
                <th>{{ character.name }} <br> Price (-{{ character.buy }}%)</th>
            {% endfor %}
            <th>Rarity</th>
            <th>Type</th>
            <th>Min<br>{{ shop_slots.0.item.min_attribute.name|upper }}</th>
            <th>Stat<br>Summary</th>
            <th>VUL</th>
            <th>RES</th>
            <th>IMU</th>
            <th>Effect</th>
            {% if shop_slots.0.item.slot == Slot.weapon %}
                <th>Range</th>
                <th>Shape</th>
                <th>Attacks</th>
                <th>PAC</th>
                <th>PDAM</th>
                <th>MDAM</th>
                <th>Damage Type</th>
                <th>CRAN</th>
                <th>CDAM</th>
            {% endif %}
        </tr>
        </thead>
        {% for shop_slot in shop_slots %}
            <tr>
                <td
                        {% if shop_slot.item.rarity == Rarity.rare %}
                            class="type_rare"
                        {% elif shop_slot.item.rarity == Rarity.unique %}
                            class="type_unique"
                        {% elif shop_slot.item.rarity == Rarity.set %}
                            class="type_set"
                        {% endif %}
                >
                    <b>{{ shop_slot.item.name|capfirst }}</b>
                    {% if shop_slot.item.is_two_handed %}
                        <br>(2-Hand)
                    {% endif %}
                    {% if shop_slot.item.slot == Slot.weapon %}
                        <img src="{{ shop_slot.item.picture.value }}"
                             style="width: 40px;height: 40px">
                    {% endif %}
                </td>
                <td>{{ shop_slot.quantity }}</td>
                {% for character in shop.party.character_set.all %}
                    {# a*b use {% widthratio a 1 b %} #}
                    <td>{% widthratio character.buy_fraction 1 shop_slot.item.price %}</td>
                {% endfor %}
                <td>{{ shop_slot.item.rarity.name|capfirst }}</td>
                <td>{{ shop_slot.item.type.name|capfirst }}</td>
                <td>{{ shop_slot.item.min_attribute_value }}</td>
                <td>{{ shop_slot.item.stat_summary }}</td>
                <td>{{ shop_slot.item.vul_set.vul.all_as_str|default:"" }}</td>
                <td>{{ shop_slot.item.vul_set.res.all_as_str|default:"" }}</td>
                <td>{{ shop_slot.item.vul_set.imu.all_as_str|default:"" }}</td>
                <td>{{ shop_slot.item.effect }}</td>
                {% if shop_slot.item.slot == Slot.weapon %}
                    <td>{{ shop_slot.item.min_range }} - {{ shop_slot.item.max_range }}</td>
                    <td>
                        {{ shop_slot.item.shape.name|capfirst }}
                        <img src="{{ shop_slot.item.shape.value }}">
                    </td>
                    <td>{{ shop_slot.item.attacks }}</td>
                    <td>{{ shop_slot.item.pac }}</td>
                    <td>{{ shop_slot.item.pdam }}</td>
                    <td>{{ shop_slot.item.mdam }}</td>
                    <td>{{ shop_slot.item.damage_type.name|capfirst }}</td>
                    <td>{{ shop_slot.item.cran }}</td>
                    <td>{{ shop_slot.item.cdam }}</td>
                {% endif %}
                {% if user.is_superuser %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="delete" class="btn btn-primary"
                                    value="delete {{ shop_slot.id }}" style="background: #DE2A00;">
                                Delete
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}