<table>
    <thead>
    <tr id="title">
        <th>{{ items.0.slot.name|title }}</th>
        {% for character in shop.party.character_set.all %}
            <th>{{ character.name }} <br> Price (-{{ character.buy }}%)</th>
        {% endfor %}
        <th>Rarity</th>
        <th>Type</th>
        <th>Min<br>{{ items.0.min_attribute.name|upper }}</th>
        <th>Stat<br>Summary</th>
        <th>VUL</th>
        <th>RES</th>
        <th>IMU</th>
        <th>Effect</th>
        {% if items.0.slot == Slot.weapon %}
            <th>2-Hand?</th>
            <th>Range</th>
            <th>Shape</th>
            <th>Attacks</th>
            <th>PAC</th>
            <th>PDAM</th>
            <th>MDAM</th>
            <th>Damage Type</th>
            <th>CRAN</th>
            <th>CDAM</th>
        {% endif %}
    </tr>
    </thead>
    {% for item in items %}
        <tr>
            <td
                    {% if item.rarity == Rarity.rare %}
                        class="type_rare"
                    {% elif item.rarity == Rarity.unique %}
                        class="type_unique"
                    {% elif item.rarity == Rarity.set %}
                        class="type_set"
                    {% endif %}
            >
                <b>{{ item.name|capfirst }}</b>
                {% if item.is_two_handed %}
                    <br>(2-Hand)
                {% endif %}
            </td>
            {% for character in shop.party.character_set.all %}
                {# a*b use {% widthratio a 1 b %} #}
                <td>{% widthratio character.buy_fraction 1 item.price %}</td>
            {% endfor %}
            <td>{{ item.rarity.name|capfirst }}</td>
            <td>{{ item.type.name|capfirst }}</td>
            <td>{{ item.min_attribute_value }}</td>
            <td>{{ item.stat_summary }}</td>
            <td>{{ item.vul_set.vul.all_as_str|default:"" }}</td>
            <td>{{ item.vul_set.res.all_as_str|default:"" }}</td>
            <td>{{ item.vul_set.imu.all_as_str|default:"" }}</td>
            <td>{{ item.effect }}</td>
            {% if items.0.slot == Slot.weapon %}
                <td>{{ item.is_two_handed|default:"" }}</td>
                <td>{{ item.min_range }} - {{ item.max_range }}</td>
                <td>
                    {{ item.shape.name|capfirst }}
                    <img src="{{ item.shape.value }}">
                </td>
                <td>{{ item.attacks }}</td>
                <td>{{ item.pac }}</td>
                <td>{{ item.pdam }}</td>
                <td>{{ item.mdam }}</td>
                <td>{{ item.damage_type.name|capfirst }}</td>
                <td>{{ item.cran }}</td>
                <td>{{ item.cdam }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>