{% extends "base.html" %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {% include "snippets/bootstrap_form.html" with form=form button_name="Submit" %}
                {% endfor %}
            {% else %}
                {% include "snippets/bootstrap_form.html" with form=wizard.form button_name="Submit" %}
            {% endif %}
        </table>
    </form>
{% endblock %}