<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sheet/style.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body>
<div id="linkbar">
    {% block linkbar %}{% endblock %}
</div>
<div id="messages">
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>