<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'sheet/style.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body>
<div id="linkbar">
    {% block linkbar %}{% endblock %}
</div>
<div id="messages">
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>