<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
</head>
<body>
    <table>
        <thead>
            <tr id="title">
                <th>Characters</th>
            </tr>
        </thead>
        {% for character in characters %}
            <tr>
                <td>
                    <a href="{% url 'sheet-views-stats' character.id %}">{{ character }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>