{% extends "character_base.html" %}

{% block title %}Level Up - {{ character.name }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>Previous Levels</label>
        <br/>
        <label><i>Note: For LVL 1, use maximum rolls for HD, MD, and SD.</i></label>
        <table>
            <thead>
            <tr id="title">
                <th>LVL</th>
                <th>HD Roll [d{{ character.cls.hd }}]</th>
                <th>MD Roll [d{{ character.cls.md }}]</th>
                <th>SD Roll [d{{ character.cls.sd }}]</th>
                <th>AD Roll [d6]</th>
                <th>Selected Attribute</th>
            </tr>
            </thead>
            {% for level_up in character.levelup_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ level_up.hd_roll }}</td>
                    <td>{{ level_up.md_roll }}</td>
                    <td>{{ level_up.sd_roll }}</td>
                    <td>{{ level_up.ad_roll.name|upper }} ({{ level_up.ad_roll.value }})</td>
                    <td>{{ level_up.selected_attribute.name|upper }}</td>
                    <td>
                        <button type="submit" name="delete"
                                value="delete {{ level_up.id }}" style="background: #DE2A00;">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <label>New Level</label>
        <br/>

        {% load i18n widget_tweaks %}
        <form class="form-horizontal" role="form" action="." method="post">
            {% csrf_token %}
            {% for field in level_up_form %}
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label"
                               for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field|attr:"class:form-control" }}
                            <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="help-block">
                                    <small>{{ field.help_text }}</small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans "Level Up" %}</button>
                </div>
            </div>
        </form>
    </form>
{% endblock %}