{% extends "browser_base.html" %}

{% block title %}{{ picture_type }}{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr id="title">
            <th>Shape</th>
            <th>Site</th>
            <th>Picture</th>
        </tr>
        </thead>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.name|capfirst }}</td>
                <td><a href="{{ picture.value }}">{{ picture.value }}</a></td>
                <td>
                    <img src="{{ picture.value }}" style="width: 40px;height: 40px">
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}