{% extends "character_base.html" %}

{% block title %}Roll20 - {{ character.name }}{% endblock %}

{% block content %}
    <label><i>Note: Due to a bug in Roll20, you must refresh your Roll20 browser page
        after syncing to remove duplicate Abilities from showing in the page.</i></label>
    <br/>
    <label>Roll20 Email: {{ user.email }}</label>
    <form method="post">
        {% csrf_token %}
        {{ roll20_form.as_p }}
        <input type="submit" value="Sync to Roll20"/>
    </form>
    <p>
        <label>Roll20 Character Name: {{ character.name }}</label>
    </p>
    <p>
        <label>Roll20 Campaign ID: {{ character.party.roll20_campaign_id }}</label>
    </p>
{% endblock %}
