{% extends "character_base.html" %}

{% block title %}Skill Points - {{ character.name }}{% endblock %}

{% block content %}
    <label>Available SP: {{ character.available_sp }}</label>
    <br>
    <label title="{{ character.max_sp_per_skill_formula }}">
        <i>Note: Max Assigned SP Per Skill: {{ character.max_sp_per_skill }}</i>
    </label>
    <form method="post">
        {% csrf_token %}
        {{ skill_points_form.as_p }}
        <input type="submit" value="Assign SP"/>
    </form>
{% endblock %}
