<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <style>
        body {
            font-family: sans-serif;
        }
        td, th {
            color: black;
        }
        td {
            padding: 5px;
            border: 1px solid #cccccc;
        }
        table {
            border-collapse: collapse;
        }
        tr:nth-child(even) {
            background-color: gainsboro;
        }
        #title th {
            font-weight: 900;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr id="title">
                <th>Stat</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td>ID</td>
            <td>{{ character.id }}</td>
        </tr>
        <tr>
            <td>LVL</td>
            <td>{{ character.lvl }}</td>
        </tr>
        <tr>
            <td>Class</td>
            <td>{{ character.cls.name }}</td>
        </tr>
        <tr>
            <td>Utility</td>
            <td>{{ character.utility.name }}</td>
        </tr>
        <tr>
            <td>Head</td>
            <td>{{ character.head.name }}</td>
        </tr>
        <tr>
            <td>Neck</td>
            <td>{{ character.neck.name }}</td>
        </tr>
        <tr>
            <td>Chest</td>
            <td>{{ character.chest.name }}</td>
        </tr>
        <tr>
            <td>Shield</td>
            <td>{{ character.shield.name }}</td>
        </tr>
        <tr>
            <td>Hand</td>
            <td>{{ character.hand.name }}</td>
        </tr>
        <tr>
            <td>Feet</td>
            <td>{{ character.feet.name }}</td>
        </tr>
        <tr>
            <td>Weapon</td>
            <td>{{ character.weapon.name }}</td>
        </tr>
        <tr>
            <td>STR</td>
            <td>{{ character.str }}</td>
        </tr>
        <tr>
            <td>PDEF</td>
            <td>{{ character.pdef }}</td>
        </tr>
    </table>
</body>
</html>