{% extends "character_base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <table style="display: inline-block">
        <thead>
            <tr id="title">
                <th>Stat</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td>Player</td>
            <td>{{ character.user }}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ character.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ character.name }}</td>
        </tr>
        <tr>
            <td>LVL</td>
            <td>{{ character.lvl }}</td>
        </tr>
        <tr>
            <td>Class</td>
            <td>{{ character.cls.name }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
            <tr id="title">
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td>STR</td>
            <td>{{ character.stren }}</td>
        </tr>
        <tr>
            <td>DEX</td>
            <td>{{ character.dex }}</td>
        </tr>
        <tr>
            <td>CON</td>
            <td>{{ character.con }}</td>
        </tr>
        <tr>
            <td>INT</td>
            <td>{{ character.intel }}</td>
        </tr>
        <tr>
            <td>WIS</td>
            <td>{{ character.wis }}</td>
        </tr>
        <tr>
            <td>CHA</td>
            <td>{{ character.cha }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
            <tr id="title">
                <th>Skill</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td title="{{ character.ath_formula }}">ATH</td>
            <td>{{ character.ath }}</td>
        </tr>
        <tr>
            <td title="{{ character.ste_formula }}">STE</td>
            <td>{{ character.ste }}</td>
        </tr>
        <tr>
            <td title="{{ character.for_formula }}">FOR</td>
            <td>{{ character.fort }}</td>
        </tr>
        <tr>
            <td title="{{ character.apt_formula }}">APT</td>
            <td>{{ character.apt }}</td>
        </tr>
        <tr>
            <td title="{{ character.per_formula }}">PER</td>
            <td>{{ character.per }}</td>
        </tr>
        <tr>
            <td title="{{ character.spe_formula }}">SPE</td>
            <td>{{ character.spe }}</td>
        </tr>
    </table>
    <table style="display: inline-block">
        <thead>
            <tr id="title">
                <th>Stat</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td title="{{ character.ap_formula }}">AP</td>
            <td>{{ character.ap }}</td>
        </tr>
        <tr>
            <td title="{{ character.hp_formula }}">HP</td>
            <td>{{ character.hp }}</td>
        </tr>
        <tr>
            <td title="{{ character.mp_formula }}">MP</td>
            <td>{{ character.mp }}</td>
        </tr>
        <tr>
            <td title="{{ character.sp_formula }}">SP</td>
            <td>{{ character.sp }}</td>
        </tr>
        <tr>
            <td title="{{ character.pdef_formula }}">PDEF</td>
            <td>{{ character.pdef }}</td>
        </tr>
        <tr>
            <td title="{{ character.mdef_formula }}">MDEF</td>
            <td>{{ character.mdef }}</td>
        </tr>
        <tr>
            <td title="{{ character.pred_formula }}">PRED</td>
            <td>{{ character.pred }}</td>
        </tr>
        <tr>
            <td title="{{ character.mred_formula }}">MRED</td>
            <td>{{ character.mred }}</td>
        </tr>
        <tr>
            <td title="{{ character.reg_formula }}">REG</td>
            <td>{{ character.reg }}</td>
        </tr>
        <tr>
            <td title="{{ character.rd_formula }}">RD</td>
            <td>{{ character.rd }}</td>
        </tr>
        <tr>
            <td title="{{ character.speed_formula }}">SPEED</td>
            <td>{{ character.speed }}</td>
        </tr>
        <tr>
            <td title="{{ character.vis_formula }}">VIS</td>
            <td>{{ character.vis }}</td>
        </tr>
        <tr>
            <td title="{{ character.bpac_formula }}">BPAC</td>
            <td>{{ character.bpac }}</td>
        </tr>
        <tr>
            <td title="{{ character.bmac_formula }}">BMAC</td>
            <td>{{ character.bmac }}</td>
        </tr>
        <tr>
            <td title="{{ character.buy_formula }}">BUY</td>
            <td>{{ character.buy }}%</td>
        </tr>
        <tr>
            <td title="{{ character.sel_formula }}">SEL</td>
            <td>{{ character.sel }}%</td>
        </tr>
    </table>
    <label><i>For formulas on how skills or stats are calculated, hover over the name.</i></label>
    <table>
        <thead>
            <tr id="title">
                <th>Weapon</th>
                <th>Rarity</th>
                <th>Style</th>
                <th>Type</th>
                <th>Min {{ character.weapon.min_attribute.name }}</th>
                <th>2-Hand</th>
                <th>Range</th>
                <th>Shape</th>
                <th>Attacks</th>
                <th>PAC</th>
                <th>PDAM</th>
                <th>MDAM</th>
                <th>Damage Type</th>
                <th>CRAN</th>
                <th>CDAM</th>
                <th>Effect</th>
            </tr>
        </thead>
        <tr>
            <td
                {% if character.weapon.rarity == Rarity.rare %}
                    class="type_rare"
                {% elif character.weapon.rarity == Rarity.unique %}
                    class="type_unique"
                {% elif character.weapon.rarity == Rarity.set %}
                    class="type_set"
                {% endif %}
            >
                <b>{{ character.weapon.name|capfirst }}</b>
                <img src="{{ character.weapon.picture.value }}"
                     style="width: 40px;height: 40px">
            </td>
            <td>{{ character.weapon.rarity.name|capfirst }}</td>
            <td>{{ character.weapon.style.name|capfirst }}</td>
            <td>{{ character.weapon.type.name|capfirst }}</td>
            <td>{{ character.weapon.min_attribute_value }}</td>
            <td>{{ character.weapon.is_two_handed}}</td>
            <td>{{ character.weapon.min_range}} - {{ character.weapon.max_range }}</td>
            <td>
                {{ character.weapon.shape.name|capfirst }}
                <img src="{{ character.weapon.shape.value }}">
            </td>
            <td>{{ character.weapon.attacks}}</td>
            <td>{{ character.bpac|add:character.weapon.pac }} (+{{ character.weapon.pac}})</td>
            <td>{{ character.weapon_pdam }} ({{ character.weapon.pdam}})</td>
            <td>{{ character.weapon_mdam }} ({{ character.weapon.mdam}})</td>
            <td>{{ character.weapon.damage_type.name|capfirst }}</td>
            <td>{{ character.cran|add:character.weapon.cran }} (+{{ character.weapon.cran }})</td>
            <td>{{ character.weapon.cdam }}</td>
            <td>{{ character.weapon.effect}}</td>
        </tr>
    </table>
    <table>
        <thead>
            <tr id="title">
                <th>Slot</th>
                <th>Equipment</th>
                <th>Rarity</th>
                <th>Type</th>
                <th>Min ATT</th>
                <th>STR</th>
                <th>DEX</th>
                <th>CON</th>
                <th>INT</th>
                <th>WIS</th>
                <th>CHA</th>
                <th>ATH</th>
                <th>STE</th>
                <th>FOR</th>
                <th>APT</th>
                <th>PER</th>
                <th>SPE</th>
                <th>AP</th>
                <th>HP</th>
                <th>MP</th>
                <th>SP</th>
                <th>PDEF</th>
                <th>MDEF</th>
                <th>PRED</th>
                <th>MRED</th>
                <th>REG</th>
                <th>RD</th>
                <th>SPEED</th>
                <th>VIS</th>
                <th>BPAC</th>
                <th>BMAC</th>
                <th>Effect</th>
            </tr>
        </thead>
        {% for wearable in character.wearables %}
            <tr>
                <td>{{ wearable.slot.name|capfirst }}</td>
                <td
                    {% if wearable.rarity == Rarity.rare %}
                        class="type_rare"
                    {% elif wearable.rarity == Rarity.unique %}
                        class="type_unique"
                    {% elif wearable.rarity == Rarity.set %}
                        class="type_set"
                    {% endif %}
                >
                    <b>{{ wearable.name|capfirst }}</b>
                    {% if wearable.is_two_handed %}
                        <br>(2-Hand)
                    {% endif %}
                </td>
                <td>{{ wearable.rarity.name|capfirst }}</td>
                <td>{{ wearable.type.name|capfirst }}</td>
                <td>{{ wearable.min_attribute_value }}{{ wearable.min_attribute.name|upper }}</td>
                <td>{{ wearable.str|default:"" }}</td>
                <td>{{ wearable.dex|default:"" }}</td>
                <td>{{ wearable.con|default:"" }}</td>
                <td>{{ wearable.int|default:"" }}</td>
                <td>{{ wearable.wis|default:"" }}</td>
                <td>{{ wearable.cha|default:"" }}</td>
                <td>{{ wearable.ath|default:"" }}</td>
                <td>{{ wearable.ste|default:"" }}</td>
                <td>{{ wearable.fort|default:"" }}</td>
                <td>{{ wearable.apt|default:"" }}</td>
                <td>{{ wearable.per|default:"" }}</td>
                <td>{{ wearable.spe|default:"" }}</td>
                <td>{{ wearable.ap|default:"" }}</td>
                <td>{{ wearable.hp|default:"" }}</td>
                <td>{{ wearable.mp|default:"" }}</td>
                <td>{{ wearable.sp|default:"" }}</td>
                <td>{{ wearable.pdef|default:"" }}</td>
                <td>{{ wearable.mdef|default:"" }}</td>
                <td>{{ wearable.pred|default:"" }}</td>
                <td>{{ wearable.mred|default:"" }}</td>
                <td>{{ wearable.reg|default:"" }}</td>
                <td>{{ wearable.rd|default:"" }}</td>
                <td>{{ wearable.speed|default:"" }}</td>
                <td>{{ wearable.vis|default:"" }}</td>
                <td>{{ wearable.bpac|default:"" }}</td>
                <td>{{ wearable.bmac|default:"" }}</td>
                <td>{{ wearable.effect }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}